@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Document OCR Review</PageTitle>

<div class="text-center">
    <h1 class="display-4">Document OCR Review System</h1>
    <p class="lead">Review and validate OCR-processed documents</p>
    <hr class="my-4">
    <p>Use this application to review documents that have been processed by the OCR system, verify extracted data, and correct any errors.</p>
    <a class="btn btn-primary btn-lg" href="/documents" role="button">View Documents</a>
</div>
